*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 1em;
  height: 100%; }

body {
  background: -webkit-linear-gradient(0deg, #C04848 10%, #480048 90%);
  background: linear-gradient(90deg, #C04848 10%, #480048 90%); }
